@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

body{
    background-color: #422329;
   
}

.content{
    width: 98%;
    margin: 2% auto;
}

#headerText{
    font-family: 'Shizuru', cursive;
    color: #fff;
    text-align: center;
    font-size: 40px;
}

#won{
    font-family: 'Mochiy Pop P One', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 23px;
}

#instruction{
    font-family: 'Mochiy Pop P One', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 26px;
    text-transform: capitalize;
}

.score{
    width: 80%;
    margin: 2% auto;
    padding: 10px;
    font-family: 'Mochiy Pop P One', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score h3{
    font-size: 24px;
    color: #fff;
}
.buttons{
    width: 80%;
    margin: 1% auto;
    display: flex;
    justify-content: space-between;
    
}

img{
    width: 180px;
    height: 180px;
    border-radius: 200px;
    border: 5px solid #10080A;
}

img:hover{
    cursor: pointer;
    border: 10px solid #10080A;
    box-shadow: 5px 10px;
}

@media (max-width: 480px) {

.content{
    width: 100%;
    margin: 2% auto;
}

.score{
    width: 94%;
    margin: 2% auto;
    display: block;
}

.buttons{
    width: 96%;
    margin: 1% auto;
    display: flex;
    flex-wrap: wrap;
}


}